html, body {
    height: 100%;
    /*background-color: #ffffff;*/
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.panorama-section, table {
    padding: 30px 0 30px 30px;
}

h1 {
    margin-bottom: 10px;
}

/* Adding new section block */
.add-new-section {
    color: #ffffff;
    text-decoration: none;
}

.add-new-section-block {
    background-color: #06c267;
    border-radius: 10px;
    padding: 10px;
    max-width: max-content;
    display: flex;
    align-items: center;
    column-gap: 7px;
}

/* Sections table */
table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px 0;
}

table thead tr th {
    font-weight: 500;
}

table tbody tr td {
    font-weight: 400;
}

table tbody td img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

table thead th {
    text-align: left;
}

table tbody td {
    text-align: left; /* Горизонтальное выравнивание по центру */
    vertical-align: top; /* Вертикальное выравнивание по центру */
}

table thead tr th,
table tbody tr td {
    border-bottom: 1px solid lightgrey;
    padding: 15px 0 15px 0;
}

table thead th:nth-child(1),
table tbody td:nth-child(1) {
    width: 150px;
}

table thead th:nth-child(2),
table tbody td:nth-child(2) {
    width: 120px;
}

table thead th:nth-child(3),
table tbody td:nth-child(3) {
    width: 700px;
}

table thead th:nth-child(4),
table tbody td:nth-child(4) {
    width: auto;
}

table tbody tr td {
}