/* Breadcrumbs */
.breadcrumb {
    list-style: none;
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-separator {
    margin: 0 8px; /* Отступы для слэша */
}


.item-link {
    color: #5b7080;
    text-decoration: none;
}

.item-link:hover {
    color: #555;
}

.item-active {
    color: #0e2739; /* Цвет для активной страницы (можно изменить) */
    font-weight: bold; /* Жирный текст для активной страницы */
}