html, body {
    height: 100%;
    /*background-color: #ffffff;*/
    margin: 0;
    padding: 0;
}

.project-info {
    padding: 30px 0 30px 30px;
}

.project-info__title,
.project-info__location {
    margin-bottom: 10px;
}

.material-type {
    width: 500px;
    border: 2px solid #d9dfe5;
    padding: 3px;
    border-radius: 7px;
    display: flex;
    margin-bottom: 35px;
}

.material-type button {
    border: 0;
    background-color: #e9eff4;
    border-radius: 3px;
    padding: 5px;
    width: 50%;
    font-size: 16px;
}

.add-new-panorama-block {
    background-color: #06c267;
    border-radius: 10px;
    padding: 10px;
    max-width: max-content;
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.add-new-panorama-block a {
    color: #ffffff;
    text-decoration: none;
}