<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/add_section.css') }}">
    <title>Добавление раздела</title>
</head>
<body>
    <header class="login__pano360__logo">
        <img src="{{ url_for('static', filename='logo/pano360-logo.svg') }}" alt="Логотип">
    </header>

    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            {% for crumb in breadcrumbs %}
                <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                    {% if not loop.last %}
                        <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                    {% else %}
                        {{ crumb.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

    <section>
        <h2>Создать новый раздел</h2>

        <form method="post" enctype="multipart/form-data">
            {{ add_form.hidden_tag() }}

            <p class="form-row">
                {{ add_form.title.label(id="label_title") }}
                {{ add_form.title(id="input_title") }}
                {% for error in add_form.title.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>

            <p class="form-row">
                {{ add_form.description.label(id="label_description") }}
                {{ add_form.description(id="input_description", placeholder="Введите описание") }}
                {% for error in add_form.description.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>

            <p class="form-row">
                {{ add_form.sort_in_list.label(id="label_sort-in-list") }}
                {{ add_form.sort_in_list(id="input_sort-in-list", placeholder="Номер по умолчанию: 500") }}
                {% for error in add_form.sort_in_list.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>

            <p class="form-row">
                {{ add_form.cover_proj(id="input_cover-proj", class="file-input") }}
                <label for="input_cover-proj" id="custom-label" class="custom-file-upload">
                    <i class="fa fa-cloud-upload">Загрузите обложку</i>
                    <img src="{{ url_for('static', filename='admin/upload-cover-icon.svg') }}" alt="">
                </label>
                {% for error in add_form.cover_proj.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>

            <div class="submit-row">
                <button class="submit" type="submit" value="Войти">Создать раздел</button>
            </div>
        </form>
    </section>

</body>
</html>