<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/breadcrumbs.css') }}">

<nav aria-label="breadcrumb-nav">
    <ul class="breadcrumb">
        {% for crumb in breadcrumbs %}
            <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                {% if not loop.last %}
                    <a href="{{ crumb.url }}">{{ crumb.name }}</a> >
                {% else %}
                    {{ crumb.name }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>