{% extends 'admin/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin.css') }}">
{% endblock %}

{% block content %}
    <div class="panorama-section">
        <h1>Разделы панорам</h1>

        <div class="add-new-section-block">
            <img src="{{ url_for('static', filename='admin/add-section-icon.svg') }}" alt="">
            <a class="add-new-section" href="{{ url_for('admin.add_section') }}">Новый раздел</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Сортировка <img src="{{ url_for('static', filename='admin/sort-icon.svg') }}" alt=""> </th>
                <th></th>
                <th>Наименование раздела</th>
                <th>Кол-во проектов</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.sort_in_list }}</td>

                    <td>
                        {% if section.image_url %}
                            <img src="{{ section.image_url }}" alt="{{ section.title }}">
                        {% else %}
                            Отсутствует
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ url_for('projects.projects', slug=section.slug) }}">
                            {{ section.title }}
                        </a>
                    </td>

                    <td>{{ num_projects }}</td>

                    <td class="section_manage">
                        <div class="icon-container">
                            <a href=""><img src="{{ url_for('static', filename='admin/manage_panoramas_icon/display-icon.svg') }}" alt=""></a>

                            <form action="{{ url_for('admin.delete_section', section_id=section.id) }}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить раздел?');">
                                <img src="{{ url_for('static', filename='admin/manage_panoramas_icon/share-icon.svg') }}" alt="">
                            </form>

                            <a href="{{ url_for('admin.edit_section', section_id=section.id) }}" ><img src="{{ url_for('static', filename='admin/manage_panoramas_icon/edit-icon.svg') }}" alt=""></a>

                            <form action="{{ url_for('admin.delete_section', section_id=section.id) }}" method="post" id="delete-section" onsubmit="return confirm('Вы уверены, что хотите удалить раздел?');">
                                <input type="image" src="{{ url_for('static', filename='admin/manage_panoramas_icon/delete-icon.svg') }}" alt="Удалить">
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}