{% extends 'admin/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/section_projects.css') }}">
{% endblock %}

{% block header %}
    {% include 'admin/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="panorama-info">
        <img id="section-image" src="{{ section.image_url }}" alt="{{ section.title }}">
        <h1 id="section-title">{{ section.title }}</h1>
        <p id="section-desc">{{ section.description }}</p>

        <div class="open-sec-lib">
            <img src="{{ url_for('static', filename='admin/library-icon.svg') }}" alt="">
            <a href="">Открыть библиотеку раздела</a>
        </div>


        <h3 class="projects-type__header">Тип проектов</h3>
        <div class="projects-type">
            <button>Лето</button>
            <button>Зима</button>
        </div>

        <h4 class="section-projects">Проекты раздела</h4>


        <div class="add-new-project-block">
            <img src="{{ url_for('static', filename='admin/add-section-icon.svg') }}" alt="">
            <a href="{{ url_for('projects.add_project') }}">Новый проект</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Сортировка <img src="{{ url_for('static', filename='admin/sort-icon.svg') }}" alt=""> </th>
                <th></th>
                <th>Наименование проекта</th>
                <th>Кол-во панорам</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.sort_in_list }}</td>

                    <td>
                        {% if project.image_url %}
                            <img src="{{ project.image_url }}" alt="{{ project.title }}">
                        {% else %}
                            Отсутствует
                        {% endif %}
                    </td>

                    <td><a href="">{{ project.title }}</a></td>

                    <td>{{ num_projects }}</td>

                    <td class="project_manage">
                        <div class="icon-container">
                            <a href="{{ url_for('admin.edit_section', idx=section.id) }}"><img src="{{ url_for('static', filename='admin/manage_panoramas_icon/display-icon.svg') }}" alt=""></a>

                            <form action="{{ url_for('admin.delete_section', idx=section.id) }}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить раздел?');">
                                <img src="{{ url_for('static', filename='admin/manage_panoramas_icon/share-icon.svg') }}" alt="">
                            </form>

                            <a href="{{ url_for('admin.edit_section', idx=section.id) }}" ><img src="{{ url_for('static', filename='admin/manage_panoramas_icon/edit-icon.svg') }}" alt=""></a>

                            <form action="{{ url_for('admin.delete_section', idx=section.id) }}" method="post" id="delete-section" onsubmit="return confirm('Вы уверены, что хотите удалить раздел?');">
                                <input type="image" src="{{ url_for('static', filename='admin/manage_panoramas_icon/delete-icon.svg') }}" alt="Удалить">
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}