{% extends 'admin/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/view_project.css') }}">
{% endblock %}

{% block header %}
    {% include 'admin/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="project-info">
        <h1 class="project-info__title">{{ project.title }}</h1>

        <p class="project-info__location">{{ project.location }}</p>

        <div class="material-type">
            <button>Панорамы</button>
            <button>Фото</button>
            <button>Видео</button>
            <button>Статьи</button>
        </div>


        <div class="add-new-panorama-block">
            <img src="{{ url_for('static', filename='admin/add-section-icon.svg') }}" alt="">
            <a href="{{ url_for('panoramas.add_panorama', project_id=project.id) }}">Добавить панораму</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Сортировка <img src="{{ url_for('static', filename='admin/sort-icon.svg') }}" alt=""> </th>
                <th></th>
                <th>Наименование панорамы</th>
                <th>Панорамы</th>
                <th>Фото</th>
                <th>Видео</th>
                <th>Статьи</th>
                <th>Метки</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ project.sort_in_list }}</td>

                <td>
                    {% if project.image_url %}
                        <img src="{{ project.image_url }}" alt="{{ project.title }}">
                    {% else %}
                        Отсутствует
                    {% endif %}
                </td>

                <td><a href="{{ url_for('projects.projects', slug=project.slug) }}">{{ project.title }}</a></td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td class="project_manage">
                    <div class="icon-container">
                        <a href="{{ url_for('projects.display_project', project_id=project.id) }}"><img src="{{ url_for('static', filename='admin/manage_panoramas_icon/display-icon.svg') }}" alt=""></a>

                        <form action="{{ url_for('projects.share_project', project_id=project.id) }}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить раздел?');">
                            <img src="{{ url_for('static', filename='admin/manage_panoramas_icon/share-icon.svg') }}" alt="">
                        </form>

                        <a href="{{ url_for('projects.edit_project', project_id=project.id) }}" ><img src="{{ url_for('static', filename='admin/manage_panoramas_icon/edit-icon.svg') }}" alt=""></a>

                        <form action="{{ url_for('projects.delete_project', project_id=project.id) }}" method="post" id="delete-section" onsubmit="return confirm('Вы уверены, что хотите удалить раздел?');">
                            <input type="image" src="{{ url_for('static', filename='admin/manage_panoramas_icon/delete-icon.svg') }}" alt="Удалить">
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}