<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page/main_page.css') }}">
    <title>Главная</title>
</head>
<body>
    <div class="sections-tape">
        {% for section in sections %}
            <div class="section">
                {{ section.title }}
                {{ section.description }}
                {{ section.sort_in_list }}
                <img src="{{ section.cover_proj }}" alt="{{ section.title }}">
            </div>
        {% endfor %}
    </div>
</body>
</html>